html {
    background-color: rgb(41, 41, 41);
    color: white;
    text-align: center;
}

section {
    /* Temporary for testing */
    border: 1px solid rgb(30, 255, 0);
    height: 100vh;
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 100%; */
}

img {
    /* width: 200px; */
    height: 100px;
    /* width: 100%; */
    margin: auto;
    float: left;
}

.img-container {
    margin: auto 0;
    width: 80%;
}

.flexbox--center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 100%;
}

h1 {
    font-size: 3.5em;
    font-weight: normal;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.5em;
}

.container {
    text-align: center;
    margin: 0 auto;
    width: fit-content;
}

.master-div {
    width: fit-content;
}

.experience--container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.splash--section {
    display: flex;

    align-items: center;
}

.splash--container {
    text-align: left;
}

.project--cols {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.experience--heading {
    text-align: left;
}

.experience--company {
    font-weight: normal;
    font-style: italic;
}

.volunteering--container {
    display:grid;
    grid-template-columns: 1fr 3fr;
    background-color: rgba(94, 94, 94, 0.5);
    border-radius: 20px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
}

.contact--link {
    text-decoration: none;
    color: rgb(246, 230, 255);
}

.contact--link:hover {
    color: rgb(214, 159, 247);
}